:root {
    --font-raleway: "Raleway", sans-serif;
}

.font-raleway {
    font-family: var(--font-raleway);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e7e7;
}